<form class="rncs-settings-form">
    <div class="rncs-display-none">
        <div>AbilitiesRollMethod_value :{{AbilitiesRollMethod_value}}</div>
        <div>DropLowestDieRoll_value :{{DropLowestDieRoll_value}}</div>
        <div>ReRollOnes_value :{{ReRollOnes_value}}</div>
        <div>NumberOfSetsRolled_value :{{NumberOfSetsRolled_value}}</div>
        <div>DropLowestSet_value :{{DropLowestSet_value}}</div>
        <div>BonusPoints_value :{{BonusPoints_value}}</div>
        <div>Over18Allowed_value :{{Over18Allowed_value}}</div>
        <div>MinimumAbilityTotal_value :{{MinimumAbilityTotal_value}}</div>
        <div>MaximumAbilityTotal_value :{{MaximumAbilityTotal_value}}</div>
        <div>DistributionMethod_value :{{DistributionMethod_value}}</div>
    </div>
    <div class="rncs-settings-grid">
        <div class="rncs-settings-column">
            {{!-- AbilitiesRollMethod --}}
            <div class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.AbilitiesRollMethod.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.AbilitiesRollMethod.Hint"}}</p>
                <div class="rncs-form-fields">
                    <select name="rncs_AbilitiesRollMethod" class="rncs-select">
                        {{selectOptions AbilitiesRollMethod_choices selected=AbilitiesRollMethod_value localized=true}}
                    </select>
                </div>
            </div>

            {{!-- DropLowestDieRoll --}}
            <div class="rncs-form-group">
                <label for="rncs_DropLowestDieRoll"><span>{{localize "RNCS.settings.DropLowestDieRoll.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.DropLowestDieRoll.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="checkbox" name="rncs_DropLowestDieRoll" value="{{DropLowestDieRoll_value}}"
                        data-dtype="Boolean" {{checked DropLowestDieRoll_value}}>
                </div>
            </div>

            {{!-- ReRollOnes --}}
            <div class="rncs-form-group">
                <label for="rncs_ReRollOnes"><span>{{localize "RNCS.settings.ReRollOnes.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.ReRollOnes.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="checkbox" name="rncs_ReRollOnes" value="{{ReRollOnes_value}}" data-dtype="Boolean"
                        {{checked ReRollOnes_value}}>
                </div>
            </div>

            {{!-- NumberOfSetsRolled --}}
            <div class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.NumberOfSetsRolled.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.NumberOfSetsRolled.Hint"}}</p>
                <div class="rncs-form-fields">
                    <select name="rncs_NumberOfSetsRolled" class="rncs-select">
                        {{selectOptions NumberOfSetsRolled_choices selected=NumberOfSetsRolled_value localized=true}}
                    </select>
                </div>
            </div>

            {{!-- DropLowestSet --}}
            <div class="rncs-form-group">
                <label for="rncs_DropLowestSet"><span>{{localize "RNCS.settings.DropLowestSet.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.DropLowestSet.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="checkbox" name="rncs_DropLowestSet" value="{{DropLowestSet_value}}"
                        data-dtype="Boolean" {{checked DropLowestSet_value}}>
                </div>
            </div>

            {{!-- BonusPoints --}}
            <div class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.BonusPoints.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.BonusPoints.Hint"}}</p>
                <div class="rncs-form-fields">
                    <select name="rncs_BonusPoints" class="rncs-select">
                        {{selectOptions BonusPoints_choices selected=BonusPoints_value localized=true}}
                    </select>
                </div>
            </div>
        </div>

        <div class="rncs-settings-column">

            {{!-- Over18Allowed --}}
            <div class="rncs-form-group">
                <label for="rncs_Over18Allowed"><span>{{localize "RNCS.settings.Over18Allowed.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.Over18Allowed.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="checkbox" name="rncs_Over18Allowed" value="{{Over18Allowed_value}}"
                        data-dtype="Boolean" {{checked Over18Allowed_value}}>
                </div>
            </div>
            {{!-- MinimumAbilityTotal --}}
            <div class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.MinimumAbilityTotal.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.MinimumAbilityTotal.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="text" name="rncs_MinimumAbilityTotal" value="{{MinimumAbilityTotal_value}}"
                        data-dtype="number">
                </div>
            </div>

            {{!-- MaximumAbilityTotal --}}
            <div class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.MaximumAbilityTotal.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.MaximumAbilityTotal.Hint"}}</p>
                <div class="rncs-form-fields">
                    <input type="text" name="rncs_MaximumAbilityTotal" value="{{MaximumAbilityTotal_value}}"
                        data-dtype="number">
                </div>
            </div>

            {{!-- DistributionMethod --}}
            <div id="rncs_DistributionMethod" class="rncs-form-group">
                <label><span>{{localize "RNCS.settings.DistributionMethod.Name"}}</span></label>
                <p class="notes">{{localize "RNCS.settings.DistributionMethod.Hint"}}</p>
                <div class="rncs-form-group-indent">
                    <div>
                        <label><span>>&nbsp;{{localize
                            "RNCS.settings.DistributionMethod.choices.apply-as-rolled"}}</span></label>
                        <div class="notes">{{localize "RNCS.results-text.note-from-dm.apply-as-rolled"}}</div>
                    </div>
                    <div>
                        <label><span>>&nbsp;{{localize
                            "RNCS.settings.DistributionMethod.choices.distribute-freely"}}</span></label>
                        <div class="notes">{{localize "RNCS.results-text.note-from-dm.distribute-freely"}}</div>
                    </div>
                    <div>
                        <label><span>>&nbsp;{{localize
                            "RNCS.settings.DistributionMethod.choices.ring-method"}}</span></label>
                        <div class="notes">{{localize "RNCS.results-text.note-from-dm.ring-method"}}</div>
                    </div>
                    <div>
                        <label><span>>&nbsp;{{localize
                            "RNCS.settings.DistributionMethod.choices.point-buy-method"}}</span></label>
                        <div class="notes">{{localize "RNCS.results-text.note-from-dm.point-buy-method"}}</div>
                    </div>
                </div>
                <div class="rncs-form-fields">
                    <select name="rncs_DistributionMethod" class="rncs-select">
                        {{selectOptions DistributionMethod_choices selected=DistributionMethod_value localized=true}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="rncs-flex-row">
        <button type="submit" id="submit">
            <i class="fa fa-save"></i> Save Changes
        </button>
        <button type="cancel" id="cancel" data-cancel>
            <i class="fa fa-ban"></i> Cancel
        </button>
    </div>
</form>